<h1>Music Api Viewer</h1>

<p>Please view music video and various set lists by going to:</p>
<p><code>https://music-search-api.herokuapp.com/api/v1/joins?artist_name={artist name}&results={results number}</code></p>
<p>You must replace {artist name} with a musical artists name. You must replace {results number} with a number. If the </p>
<p>artist name has more than one word, either add a '+' between the words, or leave a space.</p>
<br>
<p>Example. (Green+Day or Green Day) either will produce the same results.</p>
<p><code>https://music-search-api.herokuapp.com/api/v1/joins?artist_name=Green Day&results=1</code></p>
<p><code>https://music-search-api.herokuapp.com/api/v1/joins?artist_name=Green+Day&results=1</code></p>
